<h1 align="center">Modify Concession Card</h1>
<div class="button-row" align="center">
  
  <mat-form-field class="example-full-width">
  <textarea matInput placeholder=" CARD SERIAL NO " [(ngModel)]="v_card_S_No"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder=" ZONE " [(ngModel)]="issuingZone"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder=" ISSUING STATION " [(ngModel)]="issuingStation"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Card Type"  [(value)]="selected">
          <mat-option *ngFor="let cardtype of cardtypes" [value]="cardtype.value">
            {{ cardtype.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> 
  <button mat-raised-button color="primary" (click)=(findCard(v_card_S_No))>Submit</button>
</div>

<div *ngIf="concession">
   <div *ngIf="selected=='Handicap'">
    <div><label> Card Serial No : </label> <div contentEditable="true">{{concession.card_S_no}}</div></div>
    <div><label> Issuing Zone : </label><div contentEditable="true">{{concession.issuingZone}}</div></div>
    <div><label> Isuing Station : </label><div contentEditable="true">{{concession.issuingStation}}</div></div>
    <div><label> Valid From : </label><div contentEditable="true">{{concession.validfrom}}</div></div>
    <div><label> Valid Till : </label><div contentEditable="true">{{concession.validtill}}</div></div>
    <div><label> First Name :  </label><div contentEditable="true">{{concession.firstname}}</div></div>
    <div><label> Gender :  </label><div contentEditable="true">{{concession.gender}}</div></div>
    <div><label> DOB : </label><div contentEditable="false">{{concession.cc_DOB}}</div></div>
    <div><label> AGE :  </label><div contentEditable="false">{{concession.cc_Age}}</div></div>
    <div><label> NATIONALITY :  </label><div contentEditable="true">{{concession.nationality}}</div></div>
    <div><label> AADHAR :  </label><div contentEditable="true">{{concession.aadhar}}</div></div>
    <div><label> Card Type: </label><div contentEditable="true">{{concession.card_type}}</div></div>
    <div><label>  HANDICAP NAME : </label><div contentEditable="true">{{concession.h_name}}</div></div>
    <div><label>  HANDICAP GENDER : </label><div contentEditable="true">{{concession.h_gender}}</div></div>
    <div><label> HANDICAP CERTIFICATE NUMBER : </label><div contentEditable="true">{{concession.h_certi_number}}</div></div>
    <div><label> HANDICAP ADDRESS : </label><div contentEditable="true">{{concession.h_address}}</div></div>
    <div><label> CONCESSION TYPE : </label><div contentEditable="true">{{concession.conc_type}}</div></div>
    <div><label> NATURE OF HANDICAP : </label><div contentEditable="true">{{concession.nature_of_handicap}}</div></div>
    <div><label> DOCTOR NAME : </label><div contentEditable="true">{{concession.doc_name}}</div></div>
    <div><label> REGISTRATION NO : </label><div contentEditable="true">{{concession.reg_no}}</div></div>
    <div><label> HOSPITAL : </label><div contentEditable="true">{{concession.hospital}}</div></div>
    
    <div><label> JOURNALIST SPOUSE Name : </label><div contentEditable="true">{{concession.js_Spouse_name}}</div></div>
    <div><label> JOURNALIST GENDER : </label><div contentEditable="true">{{concession.js_gender}}</div></div>
    <div><label> JOURNALIST DOB : </label><div contentEditable="true">{{concession.js_DOB}}</div></div>
    <div><label> JOURNALIST AADHAR : </label><div contentEditable="true">{{concession.js_Aadhar}}</div></div>
    <div><label> AGENCY : </label><div contentEditable="true">{{concession.js_agency}}</div></div>
    <div><label> ISSUING AUTHORITY :</label><div contentEditable="true">{{concession.js_issuing_auth}}</div></div>
    <div><label> JOURNALIST DESIGNATION :</label><div contentEditable="true">{{concession.js_Designation}}</div></div>
    
    <div class="buttons" align="center">
      <mat-action-row>
       <!-- <button mat-button color="warn" (click)="prevStep()">Previous</button>-->
        <button mat-button color="primary" type="submit" (click)="newConcession(card_S_No,zonelist_val,issuingstation_val,year,year2,CC_First_name,CC_gender,CC_dob_val,CC_age,cc_nationality,cc_aadhar,selected,JS_spouse_name,JS_gender,JS_Spouse_dob,JS_aadhar,JS_agency,JS_issuing_auth,JS_designation,h_name,H_gender,H_certi_number,H_address,Con_type,h_nature,doc_name,reg_no,hospital)">Submit</button>
        <button mat-button color="primary" type="submit" (onclick)="location.reload()">Clear</button>
      </mat-action-row>
      </div>
    
  </div>
 </div>

 <div *ngIf="concession">
    <div *ngIf="selected=='Journalist'">
     <div><label> Card Serial No : </label> <div contentEditable="false">{{concession.card_S_no}}</div></div>
     <div><label> Issuing Zone : </label><div contentEditable="false">{{concession.issuingZone}}</div></div>
     <div><label> Isuing Station : </label><div contentEditable="false">{{concession.issuingStation}}</div></div>
     <div><label> Valid From : </label><div contentEditable="false">{{concession.validfrom}}</div></div>
     <div><label> Valid Till : </label><div contentEditable="false">{{concession.validtill}}</div></div>
     <div><label> First Name :  </label><div contentEditable="false">{{concession.firstname}}</div></div>
     <div><label> Gender :  </label><div contentEditable="false">{{concession.gender}}</div></div>
     <div><label> DOB : </label><div contentEditable="true">{{concession.cc_DOB}}</div></div>
     <div><label> AGE :  </label><div contentEditable="true">{{concession.cc_Age}}</div></div>
     <div><label> NATIONALITY :  </label><div contentEditable="false">{{concession.nationality}}</div></div>
     <div><label> AADHAR :  </label><div contentEditable="false">{{concession.aadhar}}</div></div>
     <div><label> Card Type: </label><div contentEditable="false">{{concession.card_type}}</div></div>
     <div><label>  HANDICAP NAME : </label><div contentEditable="false">{{concession.h_name}}</div></div>
     <div><label>  HANDICAP GENDER : </label><div contentEditable="false">{{concession.h_gender}}</div></div>
     <div><label> HANDICAP CERTIFICATE NUMBER : </label><div contentEditable="false">{{concession.h_certi_number}}</div></div>
     <div><label> HANDICAP ADDRESS : </label><div contentEditable="false">{{concession.h_address}}</div></div>
     <div><label> CONCESSION TYPE : </label><div contentEditable="false">{{concession.conc_type}}</div></div>
     <div><label> NATURE OF HANDICAP : </label><div contentEditable="false">{{concession.nature_of_handicap}}</div></div>
     <div><label> DOCTOR NAME : </label><div contentEditable="false">{{concession.doc_name}}</div></div>
     <div><label> REGISTRATION NO : </label><div contentEditable="false">{{concession.reg_no}}</div></div>
     <div><label> HOSPITAL : </label><div contentEditable="false">{{concession.hospital}}</div></div>
     
     <div><label> JOURNALIST SPOUSE Name : </label><div contentEditable="false">{{concession.js_Spouse_name}}</div></div>
     <div><label> JOURNALIST GENDER : </label><div contentEditable="false">{{concession.js_gender}}</div></div>
     <div><label> JOURNALIST DOB : </label><div contentEditable="false">{{concession.js_DOB}}</div></div>
     <div><label> JOURNALIST AADHAR : </label><div contentEditable="false">{{concession.js_Aadhar}}</div></div>
     <div><label> AGENCY : </label><div contentEditable="false">{{concession.js_agency}}</div></div>
     <div><label> ISSUING AUTHORITY :</label><div contentEditable="false">{{concession.js_issuing_auth}}</div></div>
     <div><label> JOURNALIST DESIGNATION :</label><div contentEditable="false">{{concession.js_Designation}}</div></div>
   
     <div class="buttons" align="center">
      <mat-action-row>
       <!-- <button mat-button color="warn" (click)="prevStep()">Previous</button>-->
        <button mat-button color="primary" type="submit" (click)="modConcession(concession.cc_DOB,concession.cc_Age)">Submit</button>
        <button mat-button color="primary" type="submit" (onclick)="location.reload()">Clear</button>
      </mat-action-row>
      </div>
    </div>


  </div>