<div align="center">

<h2> Concession Card Management System </h2>

<br>
<br>
<br>
<div class="button-row">

  <button mat-raised-button color="primary" routerLink="/conc-card">Add Concession Card</button> 
  <button mat-raised-button color="primary" routerLink="/modify-card">Modify Concession Card</button>
  <button mat-raised-button color="primary" routerLink="/view-card">View Concession Card</button> 
  <button mat-raised-button color="primary" routerLink="/delete-card">Delete Concession Card</button>
  <!--<button mat-raised-button color="primary">Concession Card</button>
  -->

</div>
</div>



